{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Receta</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- color -->
    <link id="changeable-colors" rel="stylesheet" href="{% static 'css/colors/orange.css' %}" />


    <link id="changeable-colors" rel="stylesheet" href="{% static 'core/style.css' %}" />
    <link id="changeable-colors" rel="stylesheet" href="{% static 'core/nav.css' %}" />

    
</head>
<body>
    <header>
        <input type="checkbox" id="btn-menu"> 
        <label for="btn-menu">  <img src="{% static 'images/menu2.png' %}" alt=""></label>

    
        <nav class="menu">
            <ul>
                <li><a href="{% url 'home' %}">Restaurant Siglo XXI</a></li>
                <li><a href="{% url 'salir' %}">Cerrar Sesion</a></li>
                <li><a href="{% url 'productos' %}">Productos</a></li>
                <li><a href="{% url 'empleados' %}">Empleados</a></li>
                <li><a href="{% url 'crearReceta' %}">Recetas</a></li>
                <li><a>Bienvenido {{request.user.username}}</a></li>
            </ul>
        </nav>
    </header>
    
    <form action="" method="POST">
        {% csrf_token %}
        {% for r in recetas %}
        <input type="hidden" value="{{ r.0}}">
        <h1>¿ Estas seguro de que deseas eliminar la receta de {{ r.1 }}</h1>
        {% endfor %}
        <button type="submit">Eliminar</button>
        <button><a href="{% url 'listarReceta' %}">Cancelar</a></button>
        
        
    </form>
        
    {{ mensaje }}
</body>
</html>